@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.playfair-display {
  font-family: "Playfair Display", serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

